[Unit]
Description=Start the service to monitor for ready conversions on the NovaSeq X to upload files to gcp
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monitor_conversion_ready.sh /usr/local/illumina/mnt/runs
Restart=always
RestartSec=5
WorkingDirectory=/usr/local/hartwig/monitoring_service/
StandardOutput=append:/usr/local/hartwig/monitoring_service/monitor_conversion_ready.log
StandardError=append:/usr/local/hartwig/monitoring_service/monitor_conversion_ready.err

[Install]
WantedBy=default.target